<form action="/api/user/dpupload" method="post" enctype="multipart/form-data">
  <input type="file" name="dp"/>
  <input type="submit" value="Submit" />
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>